// set global defaults

// reset defaults
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// set defaults
body {
  font-family: $main-font;
  font-size: $rem;
  color: $color-text;
  background-color: $color-bg;
  padding: 50px;
}

.brand {
  margin: 20px 0;
  padding: auto;
  font-family: $font-brand;
  font-size: $fsize-brand;
}

.margin {
  margin: 40px 0;
}
