// set global defaults

// reset defaults
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
// set defaults
body {
  font-family: $main-font;
  font-size: $rem;
  color: $color-text;
  background-color: $black;
  @include fit-window(scroll);
}

input {
  font-size: $rem;
  @include pad-wide(0.4);
}

::-webkit-scrollbar {
  position: fixed;
}
