// apply variables to  theme variables

// font
$main-font: $font-sans;
$rem: $fsize-default;

// color
$color-text: $black;
$color-bg: $white;
$color-bgd: $off-white;
$color-shadow: $gray;
$color-shadowd: $gray-dark;

$color-m: $blue;
$color-md: $blue-dark;
$color-1: $red;
$color-1d: $red-dark;
$color-2: $teal;
$color-2d: $teal-dark;
