// fonts
$font-serif: serif;
$font-sans: sans-serif;
$font-mono: monospace;
$font-brand: "Kranky";

$fsize-default: 16px;
$fsize-large: 24px;
$fsize-small: 10px;
$fsize-brand: 60px;

// colors
$white: #fafafa;
$off-white: #eeeeee;
$gray: #4b515d;
$gray-dark: #3e4551;
$dark: #2e2e2e;
$black: #212121;

$red: #ff4444;
$red-dark: #cc0000;
$blue: #4285f4;
$blue-dark: #0d47a1;
$green: #00c851;
$green-dark: #007e33;
$orange: #ffbb33;
$orange-dark: #ff8800;
$purple: #aa66cc;
$purple-dark: #9933cc;
$cyan: #33b5e5;
$cyan-dark: #0099cc;
$teal: #2bbbad;
$teal-dark: #00695c;
