.container-fit {
  @include fit-parent;
}
.container-confine {
  @include confine-parent;
}

// responsive
.container-res {
  max-width: 100%;
  min-width: 60%;
  width: 800px;
  height: 100%;
  margin: auto;
}

.container-center {
  @include confine-parent;
  margin: auto;
  text-align: center;
}
.flex-center {
  @include flex(column, center, center);
}
