  <div class="container-fit flex-center">
    <div class="container-confine theme-bg pad-w2">
      <div class="brand">word spice</div>

      <form action="/" method="get">
        <label for="word">Word: </label>
        <input name="word" type="text" id="word" />
        <input type="submit">
      </form>

      <div class="margin-ym">
        <div><strong>Result: </strong> <%= @result %></div>
      </div>
    </div>
  </div>
